
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


#heading h1 {
  font-size: 36px;
}


#space {
  width: 200px;
  height: 100px;
  border: 2px solid white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
}


#button button {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}
